@{
    ViewBag.Title = "Index";
}

@{
    ViewBag.Title = "Index";
}

<h2></h2>

<div class="frontpage" style="display:block; width: 960px;">
    <div class="frontphoto">

        <div style="width: 960px; padding-top: 5px; height: 200px; border: thin;">
            <img src="http://tinyurl.com/1f-suhbg" style="width: 100%; float: left; box-shadow: inset;" />
        </div>

    </div>
    <div class="floatfix"></div>
    <div style="width: 960px; margin-top: 25px;">
        <div style="width: 280px; float: left; margin-right: 15px; padding-left: 15px; padding-right: 15px;">
            <h1>What is this?</h1>
            <p>Simply put, ColorExplorer is an online toolbox for working with color palettes. Being a little more elaborate, the current site is the result of evolvement on my acclaimed <a href="http://www.colormatch5k.com" target="_blank">ColorMatch 5K</a> project dating back as far as 2001.</p>
            <p>With ColorExplorer you can quickly and easily create, manage and evaluate color palettes for use in graphic design, web designs, layouts, and much more.</p>
        </div>
        <div style="width: 280px; float: left; margin-right: 15px; padding-left: 15px; padding-right: 15px;">
            <h1>Is it free?</h1>
            <p>Yes, it is absolutely free to use all the features found on the site. You don't have to register if you don't want to.</p>
            <p>Registering for a free user profile, however, will give you a few extras (e.g. better and safer palette control/access).</p>
            <p>You may also opt for a paid registration to get unlimited number of palettes to save but most important of all; to support this free project! <a href="userprofile.aspx">Read more ...</a></p>
        </div>
        <div style="width: 280px; float: left; padding-left: 15px; padding-right: 15px;">
            <h1>Who made this?</h1>
            <p>ColorExplorer was made by Kim Jensen of <a href="http://port80.biz" target="_blank">Port80.biz</a> as a fun spare time project.</p>
            <p>When not working on spare time projects, I make a living as a professional web developer, systems designer, and integrator. To put it short, I just do lots of programming stuff! :-)</p>
            <p><a href="about.aspx">Read more about the ColorExplorer project</a></p>
        </div>
    </div>
    <div class="floatfix">
    </div>
</div>
