@{
    ViewBag.Title = "Index";
}

<div class="tabsdiv">
    <h2>About Alem</h2>

<ul id="tabs">
    <li data-tab-id="tab1">Who</li>
    <li data-tab-id="tab2">What</li>
    <li data-tab-id="tab3">Why</li>
    <li data-tab-id="tab4">How</li>
    <li data-tab-id="tab5">Where</li>
</ul>
<div id="content_wrapper">
    <div id="tab1" class="active">
        <p>
            I was surprised by the number of people who’d never 
            participated in a code study group. Of the people who 
            answered the first question, “Q1: How many of you have 
            learned to code in study groups?”, 67% stated that they 
            hadn’t, and a few others said you’d paired, but nothing 
            much beyond that. Looks like most of our code newbies 
            have been flying solo.
        </p>
    </div>
    <div id="tab2" class="hide">
        <p>
            I spent the first few months of my learn-to-code journey 
            learning on my own. I didn’t have the courage to reach out 
            to people, and wasn’t excited about revealing how little I 
            knew to strangers. The idea of study groups felt like a lot
             of work, and I thought I’d be better off doing it on my own.
        </p>
    </div>
    <div id="tab3" class="hide">
        <p>
            It was a conscious decision, but it was also the easiest thing to do.
            For the many solo learners we have in our community, I wonder how many 
            of you made a similar decision to go at it alone, and how much of that 
            decision was simply about convenience. But when we asked what you thought 
            some of the downsides of study groups were, the top three answers were 
            the risk of getting derailed and distracted, being unable to cater to 
            different skill levels, and struggling to be heard within the group.
        </p>
    </div>
    <div id="tab4" class="hide">
        <p>
            I’ve definitely shared those concerns, and still do.
            But what’s interesting about those three concerns is that they can be 
            solved by your answers to the second question, “Q2: I think code study 
            groups would be most beneficial when _________.”
        </p>
    </div>
    <div id="tab5" class="hide">
        <p>
            There were a lot of different answers, but most of them boiled down to 
            setting clear goals and having something specific to focus on. It’s 
            easier to be heard within a group if everyone’s goal is to learn, and 
            not to be right. It’s easier to stay focused when you’re working on 
            something relatable, important, and specific.
        </p>
    </div>
    
</div>
    </div>

