@{
    ViewBag.Title = "Index";
}

<div class="body">
    <h2>Career</h2>
    <div >

       <p> I was surprised by the number of people who’d never 
            participated in a code study group. Of the people who 
            answered the first question, “Q1: How many of you have 
            learned to code in study groups?”, 67% stated that they 
            hadn’t, and a few others said you’d paired, but nothing 
            much beyond that. Looks like most of our code newbies 
            have been flying solo.</p>
        <p>
             I spent the first few months of my learn-to-code journey 
            learning on my own. I didn’t have the courage to reach out 
            to people, and wasn’t excited about revealing how little I 
            knew to strangers. The idea of study groups felt like a lot
             of work, and I thought I’d be better off doing it on my own.

        </p>
        <p>
             It was a conscious decision, but it was also the easiest thing to do.
            For the many solo learners we have in our community, I wonder how many 
            of you made a similar decision to go at it alone, and how much of that 
            decision was simply about convenience. But when we asked what you thought 
            some of the downsides of study groups were, the top three answers were 
            the risk of getting derailed and distracted, being unable to cater to 
            different skill levels, and struggling to be heard within the group.

        </p>
    </div>

</div>
