@{
    ViewBag.Title = "Index";
}

<h2>About Me</h2>
<ul id="aboutUL">
    <li><a href="#content1">Who</a></li>
    <li><a href="#content2">What</a></li>
    <li><a href="#content3">Why</a></li>
    <li><a href="#content4">How</a></li>
    <li><a href="#content5">Where</a></li>
</ul>
<div id="content_wrapper">
    <div id="content">


    </div>

</div>